/*
TEXT (p,h)
-color (const,rgba(),#001122 (6 цифр)
 (цвет задаём в ввиде)
-background-color
-font-style (стиль шрифта) 
-font-size (px - pixel) (размер шрифта)
-text-align (left, right, center, justify)
-font-weight (normal/bold) (на сколько он жирный)
-letter-spacing (расстаяние)
-word-spacing
-text-decoration-line: (underline)
-line-height: (1.8)
*/ 
/*
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: block;
}
*/
/* selector for child, i tell who is parents of it. Parents - <div> container, there incide child - <img/>*/
/*access to element ">" or "space" after - .name_of_class*/
/*
.image_wrapper > img {
       width: 50px;
       height: 50px;
       object-fit: cover;
       border: 10px solid black;
}

img{
    display: block;
    border: 2px solid gold;
}


.style_box{
    background-color: darkcyan;
}

*/

.test_selector{
    border: 10px solid green;
    width: 300px;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;

}
/* ">" access only to first child 
   selector is parents */

.test_selector > p{
    color: blue;
}

/* access to child from parents
<div class"test">
    <p>...</p>
</div>    
*/
.test p{
    background-color: cornsilk;
    color: crimson;

}
/* access to class from element
<h4 class"test">.....</h4>
*/

h4.test{
    background-color: yellow;
}