.test_style_text{
color: orange;
background-color: black ;
letter-spacing: 3px;
font-size: 10px;
line-height: 1.8;
word-spacing: 20px;
/*text-shadow: 1px 1px red;*/
text-decoration-line: underline;
}

.mark_text{
    text-transform: uppercase;
    color: blueviolet;

    
}

p{
font-size: 14px;
}